span.user_rating {
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
}

.lang-wrapper .lang {
    outline: none;
}

.lang {
    padding: 0 3px;
    cursor: pointer;
}

.lang.active {
    color: #445ba7;
    font-weight: bold;
}