<div class="header-inner row">
  <div class="col-sm order-2 order-sm-1">
    <button [title]="addingDisableTooltip" mat-raised-button color="primary"
      [disabled]="!isAuth || (isAuth && showcase_count >= showcase_limit)" [routerLink]="['adding-ad']" matBadge="1"
      matBadgePosition="before" matBadgeColor="accent"
      [matBadgeHidden]="!this.draftShowcase.getDraftedShowcase()">{{ 'MAIN.ADD_SHOWCASE' | translate }}</button>
  </div>
  <div class="col-sm order-1 order-sm-2">
    <a routerLink="/">
      <img src="./assets/img/Dereban_logo_colored_full.png" class="main-logo">
    </a>
    <div class="lang-wrapper">
      <span class="lang color-gray" [ngClass]="{'active':this.isActiveLang('ru')}" (click)="setLang('ru')">RU</span>
      <span class="lang color-gray" [ngClass]="{'active':this.isActiveLang('ua')}" (click)="setLang('ua')">UA</span>
      <span class="lang color-gray" [ngClass]="{'active':this.isActiveLang('en')}" (click)="setLang('en')">EN</span>
    </div>
  </div>
  <div class="col-sm order-3">
    <button mat-raised-button color="primary" (click)="OpenModal()" id="btn-login"
      *ngIf="!isAuth">{{ 'MENU.LOGIN' | translate }}</button>
    <div *ngIf="isAuth">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="user_menu_button" style="position: relative;">
        <div class="wrapper-for-spinner">
          <div class="img_wrapper img_header">
            <img src="https://dereban.000webhostapp.com/assets/images/users_images/{{user_photo}}"
              class="user_profile_img">
          </div>
          <mat-spinner class="spinner-circle" [class.loader-hidden]="!show" *ngIf="show"></mat-spinner>
        </div>
        <div>
          <span>
            {{user_name}}
          </span>
          <mat-icon class="vert_align_middle">expand_more</mat-icon>
        </div>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item disabled class="align_center">
          <span>{{ 'MENU.RATING' | translate }}</span>
          <span *ngIf="user_rating" class="user_rating" [ngClass]="ratingColor(user_rating)"><span
              *ngIf="user_rating > 0">+</span>{{user_rating}}</span>
          <span *ngIf="!user_rating" class="user_rating color-gray">0</span>
        </button>
        <button mat-menu-item [routerLink]="['profile']">
          <mat-icon>account_circle</mat-icon>
          <span>{{ 'MENU.PROFILE' | translate }}</span>
        </button>
        <button mat-menu-item [routerLink]="[allads,user_id]">
          <mat-icon>view_day</mat-icon>
          <span>{{ 'MENU.SHOWCASES' | translate }}</span>
        </button>
        <button mat-menu-item [routerLink]="[favorites,user_id]">
          <mat-icon>favorite</mat-icon>
          <span>{{ 'MENU.FAVORITES' | translate }}</span>
        </button>
        <button mat-menu-item>
          <mat-icon>chat</mat-icon>
          <span>{{ 'MENU.COMMENTS' | translate }}</span>
        </button>
        <button mat-menu-item (click)="logOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span>{{ 'MENU.LOGOUT' | translate }}</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
