<div class="example-container">
  <form class="example-form" [formGroup]="form" (ngSubmit)="ConfirmRegistration()">
    <div formGroupName="user">
      <mat-form-field class="full-width-form">
        <input type="password" matInput placeholder="{{ 'INFO.CONFIRMATION_PASSWORD' | translate }}" value=""
          name="password" formControlName="password" required (ngModelChange)='Clear_text_errors()' maxlength="26">
        <mat-error *ngIf="form.get('user.password').invalid && form.get('user.password').touched">
          <span *ngIf="form.get('user.password').errors && form.get('user.password').errors.minlength">
            {{ 'INFO.PASSWORD_LENGTH' | translate }}
            <b>{{charsCount}}</b>{{ 'INFO.PASSWORD_LENGTH_SYMBOL' | translate }}
          </span>
        </mat-error>
        <mat-hint class="error-message" *ngIf="!form.get('user.password').invalid && form.get('user.password').touched">
          <span *ngIf="!form.get('user.password').errors">
            {{password_error | translate}}
          </span>
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="text-center">
      <button mat-raised-button color="primary" type="submit"
        [disabled]="form.invalid">{{ 'MAIN.APPLY' | translate }}</button>
    </div>
  </form>
</div>
