<div class="modal-component">
  <h1 mat-dialog-title>Введите Ваш e-mail</h1>
  <form class="example-form" [formGroup]="form" (ngSubmit)="refreshPasswordRequest()">
    <div mat-dialog-content>
      <mat-form-field formGroupName="user" class="full-width-form">
        <input type="text" matInput placeholder="{{ 'MAIN.EMAIL' | translate }}" value="" name="email"
          formControlName="email" required maxlength="60">
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Сбросить пароль</button>
      <button mat-raised-button mat-dialog-close (click)="backToLogin()">{{ 'MAIN.CANCEL' | translate }}</button>
    </div>
  </form>
</div>
