<form enctype="multipart/form-data" class="full-width-form form-elements-marg" [formGroup]="form"
  (ngSubmit)="AddShowCase()">

  <mat-card class="marg-bott color-blue"><i class="material-icons">info</i>
    <span>{{ 'INFO.ADDING_REQUIRED_FILDS' | translate }}</span></mat-card>

  <div class="div_wrapper" style="overflow: auto;" formGroupName="main">
    <div class="change_photo marg-l-null" align="center" (click)="UploadPhoto()" style="float: left;">
      <div class="img_wrapper img_showcase">
        <img src="{{img_showcase_main}}" class="user_profile_img">
      </div>
      <input type="file" name="photo" formControlName="photo" (change)="fileChange($event)"
        placeholder="{{ 'INFO.ADDING_UPLOAD_PHOTO' | translate }}" accept=".jpg" hidden="" id="input_file_photo"
        #input_file_photo required="">
      <div *ngIf="!img_name">
        <a class="upl_photo">{{ 'INFO.ADDING_UPLOAD_PHOTO' | translate }} *</a>
        <span class="spn-descr">{{ 'INFO.DESIRED_RESOLUTION' | translate }} <b>450х300px</b></span>
      </div>
      <div *ngIf="img_name">
        <span class="upl_photo">{{img_name}}</span>
      </div>
    </div>

    <mat-form-field class="example-full-width w50p">
      <input matInput #caseName placeholder="{{ 'MAIN.TITLE' | translate }}" value="" required="" name="name"
        formControlName="name" maxlength="130">
      <mat-hint align="end">{{caseName.value.length}} / 130</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="{{ 'MAIN.PRICE' | translate }}" class="example-right-align" required="" name="price"
        formControlName="price" maxlength="6">
      <span matPrefix>₴&nbsp;</span>
      <span matSuffix>&nbsp;{{ 'MAIN.UAH' | translate }}</span>
    </mat-form-field>
  </div>

  <hr style="clear: both;">

  <div class="div_wrapper" formGroupName="options">

    <div class="content-block">
      <h4>{{ 'SHOWCASE.TYPE' | translate }}</h4>
      <mat-button-toggle-group name="typeOfAds" aria-label="Ads_type" formControlName="type"
        (change)="ChangeDescText($event.value)">
        <mat-button-toggle value="1">{{ 'SHOWCASE.ASSEMBLED' | translate }}</mat-button-toggle>
        <mat-button-toggle value="2">{{ 'SHOWCASE.DEREBAN' | translate }}</mat-button-toggle>
        <mat-button-toggle value="3">{{ 'SHOWCASE.COMPONENT.NAME' | translate }}</mat-button-toggle>
      </mat-button-toggle-group>

      <mat-button-toggle-group name="typeOfFull" aria-label="Full_type" formControlName="fullType"
        style="margin-left: 10px;" [class.hidden-el]="isHiddenFull" (change)="ChangeFullDescText($event.value)">
        <mat-button-toggle value="1">{{ 'SHOWCASE.COMPLETE' | translate }}</mat-button-toggle>
        <mat-button-toggle value="2">{{ 'SHOWCASE.CUSTOM' | translate }}</mat-button-toggle>
      </mat-button-toggle-group>

      <mat-form-field style="margin-left: 10px;" [class.hidden-el]="isHiddenDetail"
        style="margin-top: 0; margin-left: 15px;">
        <mat-select placeholder="{{ 'SHOWCASE.COMPONENT.TYPE.NAME' | translate }}" name="typeOfDetail"
          aria-label="Detail_type" formControlName="detailType">
          <mat-option value="1">{{ 'SHOWCASE.COMPONENT.TYPE.FRAME' | translate }}</mat-option>
          <mat-option value="2">{{ 'SHOWCASE.COMPONENT.TYPE.FORK' | translate }}</mat-option>
          <mat-option value="3">{{ 'SHOWCASE.COMPONENT.TYPE.SHOCK' | translate }}</mat-option>
          <mat-option value="4">{{ 'SHOWCASE.COMPONENT.TYPE.BRAKES' | translate }}</mat-option>
          <mat-option value="5">{{ 'SHOWCASE.COMPONENT.TYPE.BAR' | translate }}</mat-option>
          <mat-option value="6">{{ 'SHOWCASE.COMPONENT.TYPE.STEM' | translate }}</mat-option>
          <mat-option value="7">{{ 'SHOWCASE.COMPONENT.TYPE.PEDALS' | translate }}</mat-option>
          <mat-option value="8">{{ 'SHOWCASE.COMPONENT.TYPE.HUB' | translate }}</mat-option>
          <mat-option value="9">{{ 'SHOWCASE.COMPONENT.TYPE.GRIPS' | translate }}</mat-option>
          <mat-option value="10">{{ 'SHOWCASE.COMPONENT.TYPE.TUBE' | translate }}</mat-option>
          <mat-option value="11">{{ 'SHOWCASE.COMPONENT.TYPE.BOTTOM_BRACKET' | translate }}</mat-option>
          <mat-option value="12">{{ 'SHOWCASE.COMPONENT.TYPE.CASSET' | translate }}</mat-option>
          <mat-option value="13">{{ 'SHOWCASE.COMPONENT.TYPE.WHEEL' | translate }}</mat-option>
          <mat-option value="14">{{ 'SHOWCASE.COMPONENT.TYPE.BRAKE_PADS' | translate }}</mat-option>
          <mat-option value="15">{{ 'SHOWCASE.COMPONENT.TYPE.GEAR_SHIFTER' | translate }}</mat-option>
          <mat-option value="16">{{ 'SHOWCASE.COMPONENT.TYPE.RIM' | translate }}</mat-option>
          <mat-option value="17">{{ 'SHOWCASE.COMPONENT.TYPE.DERAILLEURS' | translate }}</mat-option>
          <mat-option value="18">{{ 'SHOWCASE.COMPONENT.TYPE.SEATPOST' | translate }}</mat-option>
          <mat-option value="19">{{ 'SHOWCASE.COMPONENT.TYPE.TYRE' | translate }}</mat-option>
          <mat-option value="20">{{ 'SHOWCASE.COMPONENT.TYPE.BRAKE_SPARES' | translate }}</mat-option>
          <mat-option value="21">{{ 'SHOWCASE.COMPONENT.TYPE.HEADSET' | translate }}</mat-option>
          <mat-option value="22">{{ 'SHOWCASE.COMPONENT.TYPE.SADDLE' | translate }}</mat-option>
          <mat-option value="23">{{ 'SHOWCASE.COMPONENT.TYPE.SPOKES' | translate }}</mat-option>
          <mat-option value="24">{{ 'SHOWCASE.COMPONENT.TYPE.CHAIN' | translate }}</mat-option>
          <mat-option value="25">{{ 'SHOWCASE.COMPONENT.TYPE.CRANKS' | translate }}</mat-option>
          <mat-option value="26">{{ 'SHOWCASE.COMPONENT.TYPE.OTHER' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="content-block">
      <h4>{{ 'SHOWCASE.CONDITION.NAME' | translate }}</h4>
      <mat-button-toggle-group name="state" aria-label="State" formControlName="state">
        <mat-button-toggle value="1">{{ 'SHOWCASE.CONDITION.NEW' | translate }}</mat-button-toggle>
        <mat-button-toggle value="2">{{ 'SHOWCASE.CONDITION.USED' | translate }}</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="content-block">
      <h4>{{ 'SHOWCASE.WHEEL_SIZE' | translate }}</h4>
      <mat-button-toggle-group name="wheelSize" aria-label="Wheel size" formControlName="wheelSize">
        <mat-button-toggle value="20">20"</mat-button-toggle>
        <mat-button-toggle value="24">24"</mat-button-toggle>
        <mat-button-toggle value="26">26"</mat-button-toggle>
        <mat-button-toggle value="27">27.5"</mat-button-toggle>
        <mat-button-toggle value="28">28"</mat-button-toggle>
        <mat-button-toggle value="29">29"</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="content-block adding_types">
      <h4>{{ 'SHOWCASE.BIKE.TYPE.NAME' | translate }}</h4>
      <mat-button-toggle-group name="veloType" aria-label="Velo type" formControlName="veloType">
        <mat-button-toggle value="1">{{ 'SHOWCASE.BIKE.TYPE.ROAD' | translate }}</mat-button-toggle>
        <mat-button-toggle value="2">{{ 'SHOWCASE.BIKE.TYPE.SITY' | translate }}</mat-button-toggle>
        <mat-button-toggle value="3">{{ 'SHOWCASE.BIKE.TYPE.MOUNTAIN' | translate }}</mat-button-toggle>
        <mat-button-toggle value="4">{{ 'SHOWCASE.BIKE.TYPE.RACING' | translate }}</mat-button-toggle>
        <mat-button-toggle value="5">{{ 'SHOWCASE.BIKE.TYPE.TOURING' | translate }}</mat-button-toggle>
        <mat-button-toggle value="6">{{ 'SHOWCASE.BIKE.TYPE.HYBRID' | translate }}</mat-button-toggle>
        <mat-button-toggle value="7">{{ 'SHOWCASE.BIKE.TYPE.EXTREME' | translate }}</mat-button-toggle>
        <mat-button-toggle value="8">{{ 'SHOWCASE.BIKE.TYPE.OTHER' | translate }}</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="content-block adding_types">
      <h4>{{ 'SHOWCASE.BIKE.DIRECTION.NAME' | translate }}</h4>
      <mat-button-toggle-group name="direction" aria-label="Velo style" formControlName="direction">
        <mat-button-toggle value="1">{{ 'SHOWCASE.BIKE.DIRECTION.TYPE.XC' | translate }}</mat-button-toggle>
        <mat-button-toggle value="2">{{ 'SHOWCASE.BIKE.DIRECTION.TYPE.TRIAL' | translate }}</mat-button-toggle>
        <mat-button-toggle value="3">{{ 'SHOWCASE.BIKE.DIRECTION.TYPE.DH' | translate }}</mat-button-toggle>
        <mat-button-toggle value="4">{{ 'SHOWCASE.BIKE.DIRECTION.TYPE.FREERIDE' | translate }}</mat-button-toggle>
        <mat-button-toggle value="5">{{ 'SHOWCASE.BIKE.DIRECTION.TYPE.ENDURO' | translate }}</mat-button-toggle>
        <mat-button-toggle value="6">{{ 'SHOWCASE.BIKE.DIRECTION.TYPE.TRAIL' | translate }}</mat-button-toggle>
        <mat-button-toggle value="7">{{ 'SHOWCASE.BIKE.DIRECTION.TYPE.TRACK' | translate }}</mat-button-toggle>
        <mat-button-toggle value="8">{{ 'SHOWCASE.BIKE.DIRECTION.TYPE.FIX' | translate }}</mat-button-toggle>
        <mat-button-toggle value="9">{{ 'SHOWCASE.BIKE.DIRECTION.TYPE.STREET' | translate }}</mat-button-toggle>
        <mat-button-toggle value="10">{{ 'SHOWCASE.BIKE.DIRECTION.TYPE.PARK' | translate }}</mat-button-toggle>
        <mat-button-toggle value="11">{{ 'SHOWCASE.BIKE.DIRECTION.TYPE.DIRT' | translate }}</mat-button-toggle>
        <mat-button-toggle value="12">{{ 'SHOWCASE.BIKE.DIRECTION.TYPE.4X' | translate }}</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

  </div>

  <hr>
  <div class="div_wrapper" formGroupName="description">
    <mat-slide-toggle color="primary" (change)="ToggleDescTeplate($event)">{{ 'SHOWCASE.BIKE.DESCRIPTION.TEMPLATE.USE_DESCRIPTION_TEMPLATE' | translate }}
    </mat-slide-toggle>
    <mat-form-field class="full-width-form marg-l-null">
      <textarea matInput placeholder="{{ 'SHOWCASE.BIKE.DESCRIPTION.NAME' | translate }}" class="textarea-height" name="description" formControlName="description"
        value="{{desc_template}}"></textarea>
    </mat-form-field>
  </div>

  <hr>

  <div class="div_wrapper showcase_additional_photo" formGroupName="additionalPhotos">
    <h4>{{ 'SHOWCASE.ADDITIONAL_PHOTO' | translate }}</h4>
    <p>
      <mat-form-field appearance="legacy" class="adding_photo_link">
        <mat-label>{{ 'SHOWCASE.ADDITIONAL_PHOTO_LABEL' | translate }}</mat-label>
        <input matInput placeholder="" name="addPhotosLink" formControlName="addPhotosLink" maxlength="256">
        <mat-icon matSuffix>link</mat-icon>
        <!--<mat-hint>Google photos, vk</mat-hint>-->
      </mat-form-field>
    </p>
  </div>

  <hr>

  <div class="div_wrapper">
    <div class="button-row" align="center">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">{{ 'MAIN.ADD' | translate }}</button>
    </div>
  </div>

</form>
