.adding_photo_link {
  width: 100%;
  margin-left: 0;
}

.mat-button-toggle-group {
  margin-top: .84375em;
}

.adding-detail {
  @media only screen and (max-width: 576px) {
    margin-top: 20px;
  }
}
