<form enctype="multipart/form-data" class="full-width-form form-elements-marg" [formGroup]="form" (ngSubmit)="AddShowCase()">

    <mat-card class="marg-bott color-blue"><i class="material-icons">info</i> <span>Обратите внимание что поля - Фотография, Название и Цена обязательны.</span></mat-card>

    <div class="div_wrapper" style="overflow: auto;" formGroupName="main">
        <div class="change_photo marg-l-null" align="center" (click)="UploadPhoto()" style="float: left;">
            <div class="img_wrapper img_showcase">
                <img src="{{img_showcase_main}}" class="user_profile_img">
            </div>
            <input type="file" name="photo" formControlName="photo" (change)="fileChange($event)" placeholder="Загрузите свою фотографию" accept=".jpg" hidden="" id="input_file_photo" #input_file_photo required="">
            <div *ngIf="!img_name">
                <a class="upl_photo">Загрузить фотографию *</a>
                <span class="spn-descr">желательно минимум <b>450х300px</b></span>
            </div>
            <div *ngIf="img_name">
                <span class="upl_photo">{{img_name}}</span>
            </div>
        </div>

        <mat-form-field class="example-full-width w50p">
            <input matInput #caseName placeholder="Название" value="" required="" name="name" formControlName="name" maxlength="130">
                   <mat-hint align="end">{{caseName.value.length}} / 130</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Цена" class="example-right-align" required="" name="price" formControlName="price" maxlength="6">
            <span matPrefix>₴&nbsp;</span>
            <span matSuffix>&nbsp;грн</span>
        </mat-form-field>
    </div>

    <hr style="clear: both;">

    <div class="div_wrapper" formGroupName="options">

        <div class="content-block">
            <h4>Тип объявления</h4>
            <mat-button-toggle-group name="typeOfAds" aria-label="Ads_type" formControlName="type" (change)="ChangeDescText($event.value)">
                <mat-button-toggle value="1">В сборе</mat-button-toggle>
                <mat-button-toggle value="2">Деребан</mat-button-toggle>
                <mat-button-toggle value="3">Деталь</mat-button-toggle>
            </mat-button-toggle-group>

            <mat-button-toggle-group name="typeOfFull" aria-label="Full_type" formControlName="fullType" style="margin-left: 10px;" [class.hidden-el]="isHiddenFull" (change)="ChangeFullDescText($event.value)">
                <mat-button-toggle value="1">Комплит</mat-button-toggle>
                <mat-button-toggle value="2">Кастом</mat-button-toggle>
            </mat-button-toggle-group>

            <mat-form-field style="margin-left: 10px;" [class.hidden-el]="isHiddenDetail" style="margin-top: 0; margin-left: 15px;">
                <mat-select placeholder="Тип детали" name="typeOfDetail" aria-label="Detail_type" formControlName="detailType">
                    <mat-option value="1">Рама</mat-option>
                    <mat-option value="2">Вилка</mat-option>
                    <mat-option value="3">Амортизатор</mat-option>
                    <mat-option value="4">Тормоза</mat-option>
                    <mat-option value="5">Руль</mat-option>
                    <mat-option value="6">Вынос</mat-option>
                    <mat-option value="7">Педали</mat-option>
                    <mat-option value="8">Втулка</mat-option>
                    <mat-option value="9">Грипсы</mat-option>
                    <mat-option value="10">Камера</mat-option>
                    <mat-option value="11">Каретка</mat-option>
                    <mat-option value="12">Кассета</mat-option>
                    <mat-option value="13">Колесо</mat-option>
                    <mat-option value="14">Колодки</mat-option>
                    <mat-option value="15">Манетка</mat-option>
                    <mat-option value="16">Обод</mat-option>
                    <mat-option value="17">Переключатель</mat-option>
                    <mat-option value="18">Подседельный</mat-option>
                    <mat-option value="19">Покрышка</mat-option>
                    <mat-option value="20">Ротор</mat-option>
                    <mat-option value="21">Рулевая</mat-option>
                    <mat-option value="22">Седло</mat-option>
                    <mat-option value="23">Спицы</mat-option>
                    <mat-option value="24">Цепь</mat-option>
                    <mat-option value="25">Шатуны</mat-option>
                    <mat-option value="26">Другое</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="content-block">
            <h4>Состояние</h4>
            <mat-button-toggle-group name="state" aria-label="State" formControlName="state">
                <mat-button-toggle value="1">Новое</mat-button-toggle>
                <mat-button-toggle value="2">Б\У</mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <div class="content-block">
            <h4>Размер колес</h4>
            <mat-button-toggle-group name="wheelSize" aria-label="Wheel size" formControlName="wheelSize">
                <mat-button-toggle value="20">20"</mat-button-toggle>
                <mat-button-toggle value="24">24"</mat-button-toggle>
                <mat-button-toggle value="26">26"</mat-button-toggle>
                <mat-button-toggle value="27">27.5"</mat-button-toggle>
                <mat-button-toggle value="28">28"</mat-button-toggle>
                <mat-button-toggle value="29">29"</mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <div class="content-block adding_types">
            <h4>Тип велосипеда</h4>
            <mat-button-toggle-group name="veloType" aria-label="Velo type" formControlName="veloType">
                <mat-button-toggle value="1">Дорожный</mat-button-toggle>
                <mat-button-toggle value="2">Городской</mat-button-toggle>
                <mat-button-toggle value="3">Горный</mat-button-toggle>
                <mat-button-toggle value="4">Шоссе</mat-button-toggle>
                <mat-button-toggle value="5">Туринговый</mat-button-toggle>
                <mat-button-toggle value="6">Гибрид</mat-button-toggle>
                <mat-button-toggle value="7">БМХ</mat-button-toggle>
                <mat-button-toggle value="8">Уницикл</mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <div class="content-block adding_types">
            <h4>Направление</h4>
            <mat-button-toggle-group name="direction" aria-label="Velo style" formControlName="direction">
                <mat-button-toggle value="1">XC</mat-button-toggle>
                <mat-button-toggle value="2">Trial</mat-button-toggle>
                <mat-button-toggle value="3">DH</mat-button-toggle>
                <mat-button-toggle value="4">Freeride</mat-button-toggle>
                <mat-button-toggle value="5">Enduro</mat-button-toggle>
                <mat-button-toggle value="6">Trail</mat-button-toggle>
                <mat-button-toggle value="7">Track</mat-button-toggle>
                <mat-button-toggle value="8">Fix</mat-button-toggle>
                <mat-button-toggle value="9">Street</mat-button-toggle>
                <mat-button-toggle value="10">Park</mat-button-toggle>
                <mat-button-toggle value="11">Dirt</mat-button-toggle>
                <mat-button-toggle value="12">4X</mat-button-toggle>
            </mat-button-toggle-group>
        </div>

    </div>

    <hr>

    <div class="div_wrapper" formGroupName="description">
        <mat-slide-toggle color="primary" (change)="ToggleDescTeplate($event)">Использовать шаблон описания</mat-slide-toggle>
        <mat-form-field class="full-width-form marg-l-null">
            <textarea matInput placeholder="Описание" class="textarea-height" name="description" formControlName="description" value="{{desc_template}}"></textarea>
        </mat-form-field>
    </div>

    <hr>

    <div class="div_wrapper showcase_additional_photo" formGroupName="additionalPhotos">
        <h4>Дополнительные фотографии</h4>
        <p>
        <mat-form-field appearance="legacy" class="adding_photo_link">
            <mat-label>Ссылка на доп. фотографии</mat-label>
            <input matInput placeholder="" name="addPhotosLink" formControlName="addPhotosLink" maxlength="256">
            <mat-icon matSuffix>link</mat-icon>
            <!--<mat-hint>Google photos, vk</mat-hint>-->
        </mat-form-field>
        </p>
    </div>

    <hr>

    <div class="div_wrapper">
        <div class="button-row" align="center">
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Добавить</button>
        </div>
    </div>

    <div align="center" class="marg-top" [class.loader-hidden]="!show" *ngIf="show">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

</form>