<div class="search-wrapper">
  <div class="row">
    <mat-form-field class="full-width-form">
      <mat-chip-list #chipList>
        <mat-chip color="primary" selected (removed)="remove('case_name')"
          *ngIf="searchItem.case_name && searchItem.case_name != ''">
          <span>{{ searchItem.case_name }}</span>
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip color="primary" selected (removed)="remove('type')" [ngSwitch]="searchItem.type"
          *ngIf="searchItem.type && searchItem.type != 0">
          <span *ngSwitchCase="1">{{ 'SHOWCASE.ASSEMBLED' | translate }}</span>
          <span *ngSwitchCase="2">{{ 'SHOWCASE.DEREBAN' | translate }}</span>
          <span *ngSwitchCase="3">{{ 'SHOWCASE.COMPONENT.NAME' | translate }}</span>
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip color="primary" selected (removed)="remove('full_type')" [ngSwitch]="searchItem.full_type"
          *ngIf="searchItem.full_type && searchItem.full_type != 0">
          <span *ngSwitchCase="1">{{ 'SHOWCASE.COMPLETE' | translate }}</span>
          <span *ngSwitchCase="2">{{ 'SHOWCASE.CUSTOM' | translate }}</span>
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip color="primary" selected (removed)="remove('detail_type')" [ngSwitch]="searchItem.detail_type"
          *ngIf="searchItem.detail_type && searchItem.detail_type != 0">
          <span *ngSwitchCase="1">{{ 'SHOWCASE.COMPONENT.TYPE.FRAME' | translate }}</span>
          <span *ngSwitchCase="2">{{ 'SHOWCASE.COMPONENT.TYPE.FORK' | translate }}</span>
          <span *ngSwitchCase="3">{{ 'SHOWCASE.COMPONENT.TYPE.SHOCK' | translate }}</span>
          <span *ngSwitchCase="4">{{ 'SHOWCASE.COMPONENT.TYPE.BRAKES' | translate }}</span>
          <span *ngSwitchCase="5">{{ 'SHOWCASE.COMPONENT.TYPE.BAR' | translate }}</span>
          <span *ngSwitchCase="6">{{ 'SHOWCASE.COMPONENT.TYPE.STEM' | translate }}</span>
          <span *ngSwitchCase="7">{{ 'SHOWCASE.COMPONENT.TYPE.PEDALS' | translate }}</span>
          <span *ngSwitchCase="8">{{ 'SHOWCASE.COMPONENT.TYPE.HUB' | translate }}</span>
          <span *ngSwitchCase="9">{{ 'SHOWCASE.COMPONENT.TYPE.GRIPS' | translate }}</span>
          <span *ngSwitchCase="10">{{ 'SHOWCASE.COMPONENT.TYPE.TUBE' | translate }}</span>
          <span *ngSwitchCase="11">{{ 'SHOWCASE.COMPONENT.TYPE.BOTTOM_BRACKET' | translate }}</span>
          <span *ngSwitchCase="12">{{ 'SHOWCASE.COMPONENT.TYPE.CASSET' | translate }}</span>
          <span *ngSwitchCase="13">{{ 'SHOWCASE.COMPONENT.TYPE.WHEEL' | translate }}</span>
          <span *ngSwitchCase="14">{{ 'SHOWCASE.COMPONENT.TYPE.BRAKE_PADS' | translate }}</span>
          <span *ngSwitchCase="15">{{ 'SHOWCASE.COMPONENT.TYPE.GEAR_SHIFTER' | translate }}</span>
          <span *ngSwitchCase="16">{{ 'SHOWCASE.COMPONENT.TYPE.RIM' | translate }}</span>
          <span *ngSwitchCase="17">{{ 'SHOWCASE.COMPONENT.TYPE.DERAILLEURS' | translate }}</span>
          <span *ngSwitchCase="18">{{ 'SHOWCASE.COMPONENT.TYPE.SEATPOST' | translate }}</span>
          <span *ngSwitchCase="19">{{ 'SHOWCASE.COMPONENT.TYPE.TYRE' | translate }}</span>
          <span *ngSwitchCase="20">{{ 'SHOWCASE.COMPONENT.TYPE.BRAKE_SPARES' | translate }}</span>
          <span *ngSwitchCase="21">{{ 'SHOWCASE.COMPONENT.TYPE.HEADSET' | translate }}</span>
          <span *ngSwitchCase="22">{{ 'SHOWCASE.COMPONENT.TYPE.SADDLE' | translate }}</span>
          <span *ngSwitchCase="23">{{ 'SHOWCASE.COMPONENT.TYPE.SPOKES' | translate }}</span>
          <span *ngSwitchCase="24">{{ 'SHOWCASE.COMPONENT.TYPE.CHAIN' | translate }}</span>
          <span *ngSwitchCase="25">{{ 'SHOWCASE.COMPONENT.TYPE.CRANKS' | translate }}</span>
          <span *ngSwitchCase="26">{{ 'SHOWCASE.COMPONENT.TYPE.OTHER' | translate }}</span>
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip color="primary" selected (removed)="remove('state')" [ngSwitch]="searchItem.state"
          *ngIf="searchItem.state && searchItem.state != 0">
          <span *ngSwitchCase="1">{{ 'SHOWCASE.CONDITION.NEW' | translate }}</span>
          <span *ngSwitchCase="2">{{ 'SHOWCASE.CONDITION.USED' | translate }}</span>
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip color="primary" selected (removed)="remove('wheel_size')"
          *ngIf="searchItem.wheel_size && searchItem.wheel_size != 0 && searchItem.wheel_size != 27">
          {{searchItem.wheel_size}}"
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip color="primary" selected (removed)="remove('wheel_size')"
          *ngIf="searchItem.wheel_size && searchItem.wheel_size == 27">
          {{searchItem.wheel_size}}.5"
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip color="primary" selected (removed)="remove('velo_type')" [ngSwitch]="searchItem.velo_type"
          *ngIf="searchItem.velo_type && searchItem.velo_type != 0">
          <span *ngSwitchCase="1">{{ 'SHOWCASE.BIKE.TYPE.ROAD' | translate }}</span>
          <span *ngSwitchCase="2">{{ 'SHOWCASE.BIKE.TYPE.SITY' | translate }}</span>
          <span *ngSwitchCase="3">{{ 'SHOWCASE.BIKE.TYPE.MOUNTAIN' | translate }}</span>
          <span *ngSwitchCase="4">{{ 'SHOWCASE.BIKE.TYPE.RACING' | translate }}</span>
          <span *ngSwitchCase="5">{{ 'SHOWCASE.BIKE.TYPE.TOURING' | translate }}</span>
          <span *ngSwitchCase="6">{{ 'SHOWCASE.BIKE.TYPE.HYBRID' | translate }}</span>
          <span *ngSwitchCase="7">{{ 'SHOWCASE.BIKE.TYPE.EXTREME' | translate }}</span>
          <span *ngSwitchCase="8">{{ 'SHOWCASE.BIKE.TYPE.OTHER' | translate }}</span>
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip color="primary" selected (removed)="remove('direction')" [ngSwitch]="searchItem.direction"
          *ngIf="searchItem.direction && searchItem.direction != 0">
          <span *ngSwitchCase="1">{{ 'SHOWCASE.BIKE.DIRECTION.TYPE.XC' | translate }}</span>
          <span *ngSwitchCase="2">{{ 'SHOWCASE.BIKE.DIRECTION.TYPE.TRIAL' | translate }}</span>
          <span *ngSwitchCase="3">{{ 'SHOWCASE.BIKE.DIRECTION.TYPE.DH' | translate }}</span>
          <span *ngSwitchCase="4">{{ 'SHOWCASE.BIKE.DIRECTION.TYPE.FREERIDE' | translate }}</span>
          <span *ngSwitchCase="5">{{ 'SHOWCASE.BIKE.DIRECTION.TYPE.ENDURO' | translate }}</span>
          <span *ngSwitchCase="6">{{ 'SHOWCASE.BIKE.DIRECTION.TYPE.TRAIL' | translate }}</span>
          <span *ngSwitchCase="7">{{ 'SHOWCASE.BIKE.DIRECTION.TYPE.TRACK' | translate }}</span>
          <span *ngSwitchCase="8">{{ 'SHOWCASE.BIKE.DIRECTION.TYPE.FIX' | translate }}</span>
          <span *ngSwitchCase="9">{{ 'SHOWCASE.BIKE.DIRECTION.TYPE.STREET' | translate }}</span>
          <span *ngSwitchCase="10">{{ 'SHOWCASE.BIKE.DIRECTION.TYPE.PARK' | translate }}</span>
          <span *ngSwitchCase="11">{{ 'SHOWCASE.BIKE.DIRECTION.TYPE.DIRT' | translate }}</span>
          <span *ngSwitchCase="12">{{ 'SHOWCASE.BIKE.DIRECTION.TYPE.4X' | translate }}</span>
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input type="text" [matChipInputFor]="chipList" [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="add($event)" placeholder="{{ 'SEARCH.NAME' | translate }}" autofocus value="">
        <mat-icon matSuffix class="cursor-pointer">search</mat-icon>
      </mat-chip-list>
    </mat-form-field>
  </div>
  <div class="row">
    <div class="col-4">
      <mat-slide-toggle color="primary" (change)="sortBy($event, 'pr_rating')"
        title="{{ 'FILTER.POPULAR_TITLE' | translate }}">
        {{ 'FILTER.POPULAR' | translate }}
      </mat-slide-toggle>
    </div>
    <div class="col-4 text-center">
      <mat-slide-toggle color="primary" (change)="sortBy($event, 'pr_price')"
        title="{{ 'FILTER.CHEAPER_TITLE' | translate }}">
        {{ 'FILTER.CHEAPER' | translate }}
      </mat-slide-toggle>
    </div>
    <div class="col-4 text-right">
      <mat-slide-toggle color="primary" (change)="sortBy($event, 'pr_area')"
        title="{{ 'FILTER.CLOSED_TO_ME_TITLE' | translate }}" [disabled]="!isAuth">
        {{ 'FILTER.CLOSED_TO_ME' | translate }}
      </mat-slide-toggle>
    </div>
  </div>
  <div class="row" style="margin-top: 30px;">
    <div class="col-sm-4">
      <mat-form-field class="full-width-form">
        <input matInput type="text" placeholder="{{ 'FILTER.PRICE_FROM' | translate }}" [(ngModel)]="minValue"
          maxlength="6" (input)="filterByPrice()">
        <button mat-button *ngIf="minValue" matSuffix mat-icon-button aria-label="Clear" (click)="clearValue('min')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="full-width-form">
        <input matInput type="text" placeholder="{{ 'FILTER.PRICE_TO' | translate }}" [(ngModel)]="maxValue"
          maxlength="6" (input)="filterByPrice()">
        <button mat-button *ngIf="maxValue" matSuffix mat-icon-button aria-label="Clear" (click)="clearValue('max')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="full-width-form">
        <mat-select placeholder="{{ 'MAIN.AREA' | translate }}" name="area" aria-label="Area" [(ngModel)]="selectedArea"
          (selectionChange)="filterByArea($event)">
          <mat-option *ngFor="let area of areas" [value]="area">{{area}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

<app-ads-list></app-ads-list>
