<div>
    <div class="inl_blck w50p" style='text-align: center;'>
        <img src='../assets/img/404.png' class='w100p' style='max-width: 500px;'>
    </div>
    <div class="inl_blck w25p" style="vertical-align: top; padding-left: 20px; padding-top: 10%;">
        <div>
            <div class='not-found-header'>
                <span class="color-red">404</span>
            </div>
            <div class='not-found-header'>
                <p class="color-blue">{{ 'INFO.PAGE_NOT_FOUND' | translate }}</p>
            </div>
        </div>
    </div>
</div>