<div class="example-container">
    <form class="example-form" [formGroup]="form" (ngSubmit)="ConfirmRegistration()">
        <div formGroupName="user">
            <mat-form-field class="full-width-form">
                <input type="password" matInput placeholder="Подтвердите ваш пароль" value="" name="password" formControlName="password" required (ngModelChange)='Clear_text_errors()' maxlength="26">
                       <mat-error *ngIf="form.get('user.password').invalid && form.get('user.password').touched">
                       <span *ngIf="form.get('user.password').errors && form.get('user.password').errors.minlength">
                        Пароль должен быть не менее <b>{{charsCount}}</b>-ми символов
                    </span>
                </mat-error>
                <mat-hint class="error-message" *ngIf="!form.get('user.password').invalid && form.get('user.password').touched">
                          <span *ngIf="!form.get('user.password').errors">
                        {{password_error}}
                    </span>
                </mat-hint>
            </mat-form-field>
        </div>
        <div align="center">
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Подтвердить</button>            
        </div>
        <div align="center" class="marg-top" [class.loader-hidden]="!show" *ngIf="show">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </form>
</div>