<div class="login-component">
  <form class="example-form" [formGroup]="form" (ngSubmit)="Auth()">
    <h2 mat-dialog-title>{{ 'MAIN.AUTHORIZATION' | translate }}</h2>
    <mat-card class="marg-bott color-blue"><i class="material-icons">info</i>{{ 'INFO.AUTO_REGISTRATION' | translate }}
    </mat-card>
    <mat-dialog-content formGroupName="user">
      <mat-form-field class="example-full-width full-width-form">
        <input type="text" matInput placeholder="{{ 'MAIN.EMAIL' | translate }}" value="" name="email" formControlName="email" required
          maxlength="60">
        <mat-error *ngIf="form.get('user.email').invalid && form.get('user.email').touched">
          <span *ngIf="form.get('user.email').errors['emailIsUsed']">
            {{ 'INFO.EMAIL_ALREADY_REGISTERED' | translate }}
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width full-width-form">
        <input type="password" matInput placeholder="{{ 'MAIN.PASSWORD' | translate }}" value="" name="password" formControlName="password"
          required (ngModelChange)='Clear_text_errors()' maxlength="26">
        <mat-error *ngIf="form.get('user.password').invalid && form.get('user.password').touched">
          <span *ngIf="form.get('user.password').errors && form.get('user.password').errors.minlength">
            {{ 'INFO.PASSWORD_LENGTH' | translate }} <b>{{charsCount}}</b>{{ 'INFO.PASSWORD_LENTH_SYMBOL' | translate }}
          </span>
          <span *ngIf="form.get('user.password').errors && form.get('user.password').errors.pattern">
            {{ 'INFO.VALID_CHARACTERS' | translate }} (a-z, A-Z, 0-9)
          </span>
        </mat-error>
        <mat-hint class="error-message" *ngIf="!form.get('user.password').invalid && form.get('user.password').touched">
          <span *ngIf="!form.get('user.password').errors">
            {{password_error}}
          </span>
        </mat-hint>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">{{ 'MAIN.LOGIN' | translate }}</button>
      <button mat-raised-button mat-dialog-close>{{ 'MAIN.CANCEL' | translate }}</button>
    </mat-dialog-actions>
  </form>
</div>
