<form enctype="multipart/form-data" class="full-width-form form-elements-marg" [formGroup]="form" (ngSubmit)="SaveUserInfo()">

    <div class="div_wrapper" formGroupName="user">
        <div class="inl_blck change_photo" align="center" (click)="UploadPhoto()">
            <div class="img_wrapper img_profie">
                <img [src]="photoUrl" class="user_profile_img">
            </div>
            <input type="file" name="photo" (change)="fileChange($event)" placeholder="Загрузите свою фотографию" accept=".jpg" hidden="" id="input_file_photo" #input_file_photo>
            <a class="upl_photo">Изменить фотографию</a>
            <span class="spn-descr">желательное соотношенее сторон 1к1<br>и размер <b>300х300px</b></span>
        </div>

        <mat-form-field>
            <input matInput name="name" placeholder="Имя" maxlength="20" required formControlName="name">
        </mat-form-field>

        <mat-form-field class="w25p" style="min-width: 180px;">
            <input matInput name="surname" placeholder="Фамилия" maxlength="30" formControlName="surname">
        </mat-form-field>
    </div>

    <hr>

    <div class="div_wrapper" formGroupName="contacts">
        <mat-form-field>
            <span matPrefix>+380&nbsp;</span>
            <input matInput name="phone" placeholder="Номер телефона" maxlength="10" type="tel" required formControlName="phone" pattern="\d*">
            <mat-error *ngIf="form.get('contacts.phone').invalid && form.get('contacts.phone').touched">
                <span *ngIf="form.get('contacts.phone').errors.maxlength || form.get('contacts.phone').errors.minlength">
                    Телефонный номер должен состоять из <b>{{numCount}}</b>-ти символов
                </span>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <span matPrefix>+380&nbsp;</span>
            <input matInput name="phone2" placeholder="Второй номер телефона" maxlength="10" type="tel" formControlName="phone2" pattern="\d*">
            <mat-error *ngIf="form.get('contacts.phone2').invalid && form.get('contacts.phone2').touched">
                <span *ngIf="form.get('contacts.phone2').errors.maxlength || form.get('contacts.phone2').errors.minlength">
                    Телефонный номер должен состоять из <b>{{numCount}}</b>-ти символов
                </span>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Область" name="area" aria-label="Area" formControlName="area">
                <mat-option *ngFor="let area of areas" [value]="area">{{area}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <hr>

    <div class="div_wrapper" formGroupName="social">
        <mat-form-field>
            <span matPrefix>@ &nbsp;</span>
            <input matInput name="telegram" placeholder="TelegramID" maxlength="32" formControlName="telegram" autocomplete="new-password">
        </mat-form-field>

        <mat-form-field>
            <input matInput name="vk" placeholder="VK" maxlength="32" formControlName="vk" autocomplete="new-password">
        </mat-form-field>

        <mat-form-field>
            <input matInput name="facebook" placeholder="FacebookID" maxlength="32" formControlName="facebook" autocomplete="new-password">
        </mat-form-field>

        <mat-form-field>
            <input matInput name="instagram" placeholder="Instagram" maxlength="32" formControlName="instagram" autocomplete="new-password">
        </mat-form-field>
    </div>

    <hr>

    <div class="div_wrapper">
        <div class="button-row" align="center">
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Сохранить изменения</button>
        </div>
    </div>

    <div align="center" class="marg-top" [class.loader-hidden]="!show" *ngIf="show">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

</form>