@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/scss/bootstrap-grid';

// For bootstrap
.row {
  margin: 0;

  &:not(:first-child) {
    margin-top: 10px;

    @media only screen and (max-width: 576px) {
      margin-top: 15px;
    }
  }

  div {
    &.row {
      div {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

// For material
.mat-button-toggle-group {
  flex-wrap: wrap;
}

.mat-button-toggle-group,
.mat-button-toggle {
  background-color: #ffffffbf;
}

.mat-button-toggle-checked {
  background-color: #3f50b5;
  color: white;
}

mat-dialog-actions {
  button {
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    margin-bottom: 10px !important;
    width: 100%;
  }
}

.full-width-form {
  width: 100%;

  .mat-form-field {
    width: 100%;
  }
}

// Margins
.marg-bott {
  margin-bottom: 20px !important;
}

.marg-top {
  margin-top: 20px !important;
}

.marg-left {
  margin-left: 20px !important;
}

.marg-right {
  margin-right: 20px !important;
}

// Widths
.w100p {
  width: 100%;
}

.w75p {
  width: 75%;
}

.w50p {
  width: 50%;
}

.w25p {
  width: 25%;
}

// Cursors
.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

// Text
.text-center,
.text-center * {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.text-right,
.text-right * {
  text-align: right;
}

.recaptcha-wrapper {
  margin: 10px 0;
}

body {
  background-color: #f7f7f7;
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-top: 0px;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #f1f1f1;
  margin: 1em 0;
  padding: 0;
}

pre {
  font-family: unset;
  margin: 0;
}

.like-a-link {
  cursor: pointer;
  font-size: 12px;
  color: #3f50b5;
  border-bottom: 1px dashed;
}

.ttl {
  text-transform: lowercase;
}

.modal-component {
  padding: 20px;
}

.ads-not-found {
  text-align: center;
  margin-top: 20px;
}

.ads-not-found {
  .color-gray {
    color: #bfbfbf;
  }
}

.color-gray {
  color: #e0e0e0;
}

.color-gray-darker {
  color: #8e8e8e;
}

.color-blue {
  color: #445ca7;
}

.color-red {
  color: #e74e48;
}

.color-green {
  color: #20b45a;
}

.color-orange {
  color: #efa045;
}

.mat-card {
  .material-icons {
    vertical-align: text-bottom;
    margin-right: 10px;
  }
}

.spinner-circle {
  position: absolute !important;
  left: -12px;
  top: -12px;
}

.main-logo {
  width: 100%;
  max-width: 400px;
}

.wrapper-for-spinner {
  width: 75px;
  height: 75px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 10px;
}

.app {
  min-height: 100%;
}

.header-inner {
  &>div {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 25px;
  }
}

.header-inner,
.content-header {
  justify-content: center;
  align-items: center;
}

.header-inner,
.content-inner,
.content-header {
  max-width: 1200px;
  margin: 0 auto;
}

.content-header {
  padding-left: 20px;
  overflow: hidden;
  padding-right: 200px;

  h1 {
    color: #efa045;
  }
}

.content-inner {
  @media only screen and (max-width: 576px) {
    background-color: inherit;
    border: none;
    padding: 0;
  }

  background-color: #fcfcfc;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #efefef;
}

.marg-l-null {
  margin-left: 0px !important;
}

textarea.textarea-height {
  height: 200px;
}

.change_photo {
  cursor: pointer;

  @media only screen and (max-width: 576px) {
    margin-bottom: 20px;
  }
}

.img_wrapper {
  border-radius: 50%;
  border: 5px solid #3f51b5;
  overflow: hidden;
  position: relative;
}

.img_wrapper {
  &.img_showcase {
    border-radius: 10px;
  }

  &.adding_showcase {
    border: 5px dashed #00b754;
  }
}

.toggling-icon mat-icon {
  font-size: 24px !important;
}

.img_profie,
.img_header,
.img_contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_profie {
  width: 150px;
  height: 150px;
  margin: 0 auto;

  .user_profile_img {
    height: 150px;
  }
}

.img_showcase {
  height: 300px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;

  .user_profile_img {
    height: 300px;
  }
}

.img_header {
  width: 75px;
  height: 75px;
  margin: 0 auto;

  .user_profile_img {
    height: 75px;
  }
}

.img_contacts {
  width: 50px;
  height: 50px;
  margin: 0 auto;

  .user_contacts_img {
    height: 50px;
  }
}

.showcase_additional_photo {
  .mat-figure {
    font-size: 38px;
    color: #00b754;
    cursor: pointer;
  }

  .mat-grid-tile {
    border-radius: 10px;
    border: 1px dashed #00b754;
  }
}

.spn-descr {
  font-size: 13px;
}

.content-block {
  display: inline-block;
  padding-right: 15px;

  h4 {
    margin-bottom: 0;
  }
}

.example-chip-list {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;

  &>* {
    width: 100%;
  }
}

.example-right-align {
  text-align: right !important;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.error-message {
  & span {
    color: #f44336;
  }
}

.mat-snack-bar-container {
  background-color: #3f51b5;
}

.loader-hidden {
  visibility: hidden;
}

.mat-menu-content {
  button.align_center {
    text-align: center;
    border-bottom: 1px solid #efefef;
  }
}

.mat-menu-item[disabled],
.mat-menu-content {
  mat-icon {
    color: #3f50b5 !important;
  }
}

.div_wrapper {
  margin: 0 3%;
}

.vert_align_middle {
  vertical-align: middle;
}

.user_menu_button {
  width: auto !important;
  height: auto !important;
  line-height: normal !important;
  border-radius: 0 !important;
}

.hidden-el {
  display: none !important;
}

.overlay-all {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 111;
  background-color: #e6e6e6;
  opacity: 0;
  -webkit-transition: all 3.6s cubic-bezier(0.0, 0.0, 0.2, 1);
  -moz-transition: all 3.6s cubic-bezier(0.0, 0.0, 0.2, 1);
  -o-transition: all 3.6s cubic-bezier(0.0, 0.0, 0.2, 1);
  transition: all 3.6s cubic-bezier(0.0, 0.0, 0.2, 1);

  &.show {
    opacity: 1;
    display: block;
  }

  .material-icons {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
}

.showcase_photo {
  max-width: 100%;
  height: auto;
  cursor: zoom-in;

  &:hover {
    transform: scale(1.1);
  }

  &.allow-transition {
    &:hover {
      filter: saturate(1.1);
    }

    -webkit-transition: all .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    -moz-transition: all .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    -o-transition: all .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    transition: all .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
}

.stop-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden
}

img.showcase_photo {
  &.opacity-img {
    opacity: 0;
    -webkit-transition: opacity .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    -moz-transition: opacity .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    -o-transition: opacity .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    transition: opacity .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  &.zoomed-img {
    position: fixed;
    right: 0;
    height: auto;
    max-height: 99vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    cursor: zoom-out;
    z-index: 111;
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.opacity-arrow {
  i {
    opacity: 0.3;
    -webkit-transition: opacity 0.5s ease-out 0.1s;
    -moz-transition: opacity 0.5s ease-out 0.1s;
    -o-transition: opacity 0.5s ease-out 0.1s;
    transition: opacity 0.5s ease-out 0.1s;
  }

  &:hover i,
  &.active i {
    opacity: 1;
  }
}

.search-wrapper,
.paginator-wrapper {
  background-color: white;
  box-shadow: 0px 6px 20px 0px #f2f2f2;
  border-top: 1px solid #f9f9f9;
  background-color: white;
  border-radius: 10px;
  padding: 10px 25px;
  margin: 10px 10px 60px;
  width: -webkit-fill-available;
}

.paginator-wrapper {
  padding: 5px 20px;
}
